<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://tscproaudio.com/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!-- Custom styles for this template-->
    <link href="https://tscproaudio.com/css/sb-admin-2.css" rel="stylesheet" />
    <link
      href="https://tscproaudio.com/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://tscproaudio.com/css/admin-dashboard.css"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <div
        class="toast toast-success"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <div class="rounded me-2 p-2 bg-success"></div>
          <strong class="me-auto text-success">Done!</strong>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body">Successfully</div>
      </div>
      <div
        class="toast toast-fail"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <div class="rounded me-2 p-2 bg-danger"></div>
          <strong class="me-auto text-danger">Failed!</strong>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body">Unsuccessfully</div>
      </div>
    </div>
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="admin-index.html"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Admin</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a
            class="nav-link"
            href="/src/main/resources/templates/views/admin/admin-index.html"
          >
            <span>Dashboard</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="/src/main/resources/templates/views/admin/micro-list.html"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <span>Micro</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="/src/main/resources/templates/views/admin/amplifier-list.html"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <span>Amplifier</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="/src/main/resources/templates/views/admin/speaker-list.html"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <span>Speaker</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="/src/main/resources/templates/views/admin/mixer-list.html"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <span>Mixer</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="/src/main/resources/templates/views/admin/series/series-product.html"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <span>Series</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item no-arrow">
                <div class="dropdown me-5">
                  <button
                    class="nav-link dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                      Admin
                    </span>
                  </button>
                  <div
                    class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  >
                    <button
                      class="dropdown-item"
                      id="logoutBtn"
                      data-toggle="modal"
                      data-target="#logoutModal"
                    >
                      Logout
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->

            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Create mixer</h1>
            </div>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Create mixer</h6>
              </div>
              <div class="card-body">
                <div class="text-danger mb-3">
                  Note:
                  <p class="m-0">
                    - You must add images first and then add product information
                  </p>
                  <p class="m-0">
                    - The image name must be the same as the model name
                  </p>
                </div>
                <form id="create-img-mixer">
                  <div class="row mb-3">
                    <div class="col-sm-2">
                      <label for="file" class="form-label">Upload Image:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="file"
                        class="form-control"
                        id="file"
                        name="file"
                        accept=".png, .jpg, .jpeg"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 text-end">
                      <div id="responseMessage"></div>
                      <button
                        type="submit"
                        class="btn btn-primary btn-up-image"
                      >
                        Add +
                      </button>
                    </div>
                  </div>
                </form>
                <form id="create-mixer-form">
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="id" class="form-label">Model:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="modelMixer"
                        name="modelMixer"
                        placeholder="Enter"
                        required
                      />
                    </div>
                  </div>

                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="description" class="form-label"
                        >Description:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <textarea
                        class="form-control"
                        placeholder="Enter"
                        id="description"
                        name="description"
                        rows="4"
                      ></textarea>
                    </div>
                  </div>

                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="channel" class="form-label">Channel:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter"
                        id="channel"
                        name="channel"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="channelEQ" class="form-label"
                        >Channel EQ:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter"
                        id="channelEQ"
                        name="channelEQ"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="aux" class="form-label">AUX:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter"
                        id="AUX"
                        name="AUX"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="return" class="form-label">Return:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter"
                        id="returnMixer"
                        name="returnMixer"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="effects" class="form-label">Effects:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="effects"
                        placeholder="Enter"
                        name="effects"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="mainOut" class="form-label">Main out:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter"
                        id="mainOut"
                        name="mainOut"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="groups" class="form-label">Groups:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter"
                        id="groupsMixer"
                        name="groupsMixer"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="phantomPower" class="form-label"
                        >Phantom power:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter"
                        id="phantomPower"
                        name="phantomPower"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="usbPlayer" class="form-label"
                        >Usb player:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter"
                        id="usbPlayer"
                        name="usbPlayer"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 text-end">
                      <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <!-- <span>Copyright &copy; Your Website 2021</span> -->
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->

    <!-- Bootstrap core JavaScript-->
    <script src="https://tscproaudio.com/vendor/jquery/jquery.min.js"></script>
    <script src="https://tscproaudio.com/vendor/jquery/jquery.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="https://tscproaudio.com/js/sb-admin-2.js"></script>
    <script src="https://tscproaudio.com/js/api/admin/mixer.js"></script>
    <script defer src="https://tscproaudio.com/js/api/login.js"></script>
  </body>
</html>
