<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>PaymentGateway</display-name>
	<distributable />
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Filter -->
	<filter>
		<filter-name>customerFilter</filter-name>
		<filter-class>com.vn.sound.security.CustomerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>customerFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- CORS Filter -->
	<filter-mapping>
		<filter-name>cors</filter-name>
		<url-pattern>/restjs/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>cors</filter-name>
		<url-pattern>/psp/*</url-pattern>
	</filter-mapping>
	<!-- Spring Dispatcher Servlet -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>*.htm</url-pattern>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- Q2 Servlet -->
	<servlet>
		<servlet-name>Q2Servlet</servlet-name>
		<servlet-class>vn.com.napas.pg.servlet.Q2Servlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Q2Servlet</servlet-name>
		<url-pattern>/Q2Servlet</url-pattern>
	</servlet-mapping>
</web-app>
