<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://tscproaudio.com/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!-- Custom styles for this template-->
    <link href="https://tscproaudio.com/css/sb-admin-2.css" rel="stylesheet" />
    <link
      href="https://tscproaudio.com/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://tscproaudio.com/css/admin-dashboard.css"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="/admin"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Admin</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="/admin"> <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="/admin/list/micro"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <span>Micro</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="/admin/list/amplifier"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <span>Amplifier</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="/admin/list/speaker"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <span>Speaker</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="/admin/list/mixer"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <span>Mixer</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="/admin/list-series"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <span>Series</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item no-arrow">
                <div class="dropdown me-5">
                  <button
                    class="nav-link dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                      Admin
                    </span>
                  </button>
                  <div
                    class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  >
                    <button
                      class="dropdown-item"
                      id="logoutBtn"
                      data-toggle="modal"
                      data-target="#logoutModal"
                    >
                      Logout
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->

            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Edit Amplifier</h1>
            </div>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Edit Amplifier
                </h6>
              </div>
              <div class="card-body">
                <div class="text-danger mb-3">
                  Note:
                  <p class="m-0">
                    - You must add images first and then add product information
                  </p>
                  <p class="m-0">
                    - The image name must be the same as the model name
                  </p>
                </div>
                <form id="edit-amplifier-form">
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="model" class="form-label">Model:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="model"
                        placeholder="Enter"
                        name="model"
                        required
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="imgId" class="form-label">Image:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="imgId"
                        placeholder="Enter"
                        name="imgId"
                        required
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="description" class="form-label"
                        >Description:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <textarea
                        class="form-control"
                        id="description"
                        placeholder="Enter"
                        name="description"
                        rows="4"
                      ></textarea>
                    </div>
                  </div>

                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="stereoPower8OHM" class="form-label"
                        >Stereo power 80 ohm:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="stereoPower8OHM"
                        placeholder="Enter"
                        name="stereoPower8OHM"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="stereoPower4OHM" class="form-label"
                        >Stereo power 40 ohm:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="stereoPower4OHM"
                        placeholder="Enter"
                        name="stereoPower4OHM"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="stereoPower2OHM" class="form-label"
                        >Stereo power 20 ohm:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="stereoPower2OHM"
                        placeholder="Enter"
                        name="stereoPower2OHM"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="btl8OHM" class="form-label"
                        >BTL 80 ohm:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="btl8OHM"
                        placeholder="Enter"
                        name="btl8OHM"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="btl4OHM" class="form-label"
                        >BTL 40 ohm:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="btl4OHM"
                        placeholder="Enter"
                        name="btl4OHM"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="frequencyResponse" class="form-label"
                        >Frequency response:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="frequencyResponse"
                        placeholder="Enter"
                        name="frequencyResponse"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="thdPlus" class="form-label">THD+:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="thdPlus"
                        placeholder="Enter"
                        name="thdPlus"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="sSourceNRatio" class="form-label"
                        >S/N Ratio:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="sSourceNRatio"
                        placeholder="Enter"
                        name="sSourceNRatio"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="slewRatio" class="form-label"
                        >Slew Ratio:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="slewRatio"
                        placeholder="Enter"
                        name="slewRatio"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="dampingFactor" class="form-label"
                        >Damping factor:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="dampingFactor"
                        placeholder="Enter"
                        name="dampingFactor"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="ourputCircuitry" class="form-label"
                        >Output circuitry:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="ourputCircuitry"
                        placeholder="Enter"
                        name="ourputCircuitry"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="crossTalk" class="form-label"
                        >Crosstalk:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="crossTalk"
                        placeholder="Enter"
                        name="crossTalk"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="inputImpedance" class="form-label"
                        >Input impedance:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="inputImpedance"
                        placeholder="Enter"
                        name="inputImpedance"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="inputSensitivity" class="form-label"
                        >Input sensitivity:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="inputSensitivity"
                        placeholder="Enter"
                        name="inputSensitivity"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="protect" class="form-label">Protect:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="protect"
                        placeholder="Enter"
                        name="protect"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="gWeight" class="form-label">Weight:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="gWeight"
                        placeholder="Enter"
                        name="gWeight"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="dimension" class="form-label"
                        >Dimension:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="dimension"
                        placeholder="Enter"
                        name="dimension"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="packingSize" class="form-label"
                        >Packing size:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="packingSize"
                        placeholder="Enter"
                        name="packingSize"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="gain" class="form-label">Gain:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="gain"
                        placeholder="Enter"
                        name="gain"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="optionalGian" class="form-label"
                        >Optional Gain:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="optionalGian"
                        placeholder="Enter"
                        name="optionalGian"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="degreeOfSeparation" class="form-label"
                        >Degree of separation:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="degreeOfSeparation"
                        placeholder="Enter"
                        name="degreeOfSeparation"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="dissipateHeat" class="form-label"
                        >Dissipate heat:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="dissipateHeat"
                        placeholder="Enter"
                        name="dissipateHeat"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="appearanceVolume" class="form-label"
                        >Appearance volume:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="appearanceVolume"
                        placeholder="Enter"
                        name="appearanceVolume"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 text-end">
                      <button
                        type="submit"
                        class="btn btn-primary btn-submit-form"
                      >
                        Edit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <!-- <span>Copyright &copy; Your Website 2021</span> -->
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->

    <!-- Bootstrap core JavaScript-->
    <script src="https://tscproaudio.com/vendor/jquery/jquery.min.js"></script>
    <script src="https://tscproaudio.com/vendor/jquery/jquery.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="https://tscproaudio.com/js/sb-admin-2.js"></script>
    <script src="https://tscproaudio.com/js/api/edit/amplifier-edit.js"></script>
    <script defer src="https://tscproaudio.com/js/api/login.js"></script>
  </body>
</html>
