<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://tscproaudio.com/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!-- Custom styles for this template-->
    <link href="https://tscproaudio.com/css/sb-admin-2.css" rel="stylesheet" />
    <link
      href="https://tscproaudio.com/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://tscproaudio.com/css/admin-dashboard.css"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="/admin"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Admin</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="/admin"> <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="/admin/list/micro-list"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <span>Micro</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="/admin/list/amplifier-list"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <span>Amplifier</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="/admin/list/speaker-list"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <span>Speaker</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="/admin/list/mixer-list"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <span>Mixer</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="/admin/list-series"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <span>Series</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item no-arrow">
                <div class="dropdown me-5">
                  <button
                    class="nav-link dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                      Admin
                    </span>
                  </button>
                  <div
                    class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  >
                    <button
                      class="dropdown-item"
                      id="logoutBtn"
                      data-toggle="modal"
                      data-target="#logoutModal"
                    >
                      Logout
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->

            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Edit Micro</h1>
            </div>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Edit Micro</h6>
              </div>
              <div class="card-body">
                <div class="text-danger mb-3">
                  Note:
                  <p class="m-0">
                    - You must successfully add images first before adding
                    product information
                  </p>
                  <p class="m-0">
                    - The image name must be the same as the model name
                  </p>
                </div>
                <form id="edit-micro-form">
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="microName" class="form-label">Model:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="microName"
                        placeholder="Enter"
                        name="microName"
                        required
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="imgId" class="form-label">Image:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="imgId"
                        name="imgId"
                        placeholder="Enter"
                        required
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="description" class="form-label"
                        >Description:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="description"
                        placeholder="Enter"
                        name="description"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="frequencyQuantity" class="form-label"
                        >Frequency Quantity:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="frequencyQuantity"
                        placeholder="Enter"
                        name="frequencyQuantity"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label
                        for="frequencyResponseTransmitterParam"
                        class="form-label"
                        >Frequency Response Transmitter:
                      </label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="frequencyResponseTransmitterParam"
                        placeholder="Enter"
                        name="frequencyResponseTransmitterParam"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="frequencyRangeCha" class="form-label"
                        >Frequency Range A:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="frequencyRangeCha"
                        placeholder="Enter"
                        name="frequencyRangeCha"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="frequencyRangeChb" class="form-label"
                        >Frequency Range B:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="frequencyRangeChb"
                        placeholder="Enter"
                        name="frequencyRangeChb"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="frequencyRange" class="form-label"
                        >Frequency Range:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="frequencyRange"
                        placeholder="Enter"
                        name="frequencyRange"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="signalToNoiseRatio" class="form-label"
                        >Signal to Noise Ratio:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="signalToNoiseRatio"
                        placeholder="Enter"
                        name="signalToNoiseRatio"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="totalHarmonicDistortion" class="form-label"
                        >Total Harmonic Distortion:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="totalHarmonicDistortion"
                        placeholder="Enter"
                        name="totalHarmonicDistortion"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="modulationMode" class="form-label"
                        >Modulation Mode:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="modulationMode"
                        placeholder="Enter"
                        name="modulationMode"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="workingDistance" class="form-label"
                        >Working Distance:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="workingDistance"
                        placeholder="Enter"
                        name="workingDistance"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="frequencyBandwidth" class="form-label"
                        >Frequency Bandwidth:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="frequencyBandwidth"
                        placeholder="Enter"
                        name="frequencyBandwidth"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="channelInterval" class="form-label"
                        >Channel Interval:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="channelInterval"
                        placeholder="Enter"
                        name="channelInterval"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="maxDeviation" class="form-label"
                        >Max Deviation:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="maxDeviation"
                        placeholder="Enter"
                        name="maxDeviation"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="frequencyStability" class="form-label"
                        >Frequency Stability:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="frequencyStability"
                        placeholder="Enter"
                        name="frequencyStability"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label
                        for="oscillationModeReceiverParam"
                        class="form-label"
                        >Oscillation Mode Receiver Parameter:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="oscillationModeReceiverParam"
                        placeholder="Enter"
                        name="oscillationModeReceiverParam"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="modulation" class="form-label"
                        >Modulation:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="modulation"
                        placeholder="Enter"
                        name="modulation"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="sensitivity" class="form-label"
                        >Sensitivity:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="sensitivity"
                        placeholder="Enter"
                        name="sensitivity"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="sensitivityAdjustment" class="form-label"
                        >Sensitivity Adjustment:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="sensitivityAdjustment"
                        placeholder="Enter"
                        name="sensitivityAdjustment"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="powerSupplyMode" class="form-label"
                        >Power Supply Mode:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="powerSupplyMode"
                        placeholder="Enter"
                        name="powerSupplyMode"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="antennaAccess" class="form-label"
                        >Antenna Access:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="antennaAccess"
                        placeholder="Enter"
                        name="antennaAccess"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="midFrequence" class="form-label"
                        >Mid Frequency:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="midFrequence"
                        placeholder="Enter"
                        name="midFrequence"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="spuriousSuppression" class="form-label"
                        >Spurious Suppression:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="spuriousSuppression"
                        placeholder="Enter"
                        name="spuriousSuppression"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="maxOutputElectricalLevel" class="form-label"
                        >Max Output Electrical Level:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="maxOutputElectricalLevel"
                        placeholder="Enter"
                        name="maxOutputElectricalLevel"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="outputPower" class="form-label"
                        >Output Power:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="outputPower"
                        placeholder="Enter"
                        name="outputPower"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="directivity" class="form-label"
                        >Directivity:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="directivity"
                        placeholder="Enter"
                        name="directivity"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="frequencyResponse" class="form-label"
                        >Frequency Response:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="frequencyResponse"
                        placeholder="Enter"
                        name="frequencyResponse"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="powerSupply" class="form-label"
                        >Power Supply:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="powerSupply"
                        placeholder="Enter"
                        name="powerSupply"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label
                        for="oscillationModeTransmitterParam"
                        class="form-label"
                        >Oscillation Mode Transmitter Parameter:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="oscillationModeTransmitterParam"
                        placeholder="Enter"
                        name="oscillationModeTransmitterParam"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="transmitterType" class="form-label"
                        >Transmitter Type:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="transmitterType"
                        placeholder="Enter"
                        name="transmitterType"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="pipeBodyMaterial" class="form-label"
                        >Pipe Body Material:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="pipeBodyMaterial"
                        placeholder="Enter"
                        name="pipeBodyMaterial"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="batteryLifeTime" class="form-label"
                        >Battery Life Time:</label
                      >
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="batteryLifeTime"
                        placeholder="Enter"
                        name="batteryLifeTime"
                      />
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-sm-2">
                      <label for="channels" class="form-label">Channels:</label>
                    </div>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="channels"
                        placeholder="Enter"
                        name="channels"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 text-end">
                      <button
                        type="submit"
                        class="btn btn-primary btn-submit-form"
                      >
                        Edit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <!-- <span>Copyright &copy; Your Website 2021</span> -->
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->

    <!-- Bootstrap core JavaScript-->
    <script src="https://tscproaudio.com/vendor/jquery/jquery.min.js"></script>
    <script
      defer
      src="https://tscproaudio.com/vendor/bootstrap/js/bootstrap.bundle.min.js"
    ></script>

    <!-- Custom scripts for all pages-->
    <script src="https://tscproaudio.com/js/sb-admin-2.js"></script>
    <script src="https://tscproaudio.com/js/api/edit/micro-edit.js"></script>
    <script defer src="https://tscproaudio.com/js/api/login.js"></script>
  </body>
</html>
